body {
    line-height: 1.5;
}

#kekhegyszallo-kep{
    max-width: 100%;
}

.btn{
    background-color: #343a40;
    border-color: #343a40;
}

.szolg-btn{
    margin-top: 8px;
}

.card{
    padding: 10px;
}